<form method="post" action="/users">
	<div><input autofocus placeholder="name" name="name"/></div>
	<div><input placeholder="email" type="email" name="email"/></div>
	<button type="submit">Add</button>
</form>
<br>
<form method="post" action="/dinos">
	<div><input autofocus placeholder="dinosaur" name="dinosaur"/></div>
	<div><input placeholder="genus" name="genus"/></div>
	<button type="submit">Add</button>
</form>